services:
  app:
    container_name: {{ container_name }}
    image: {{ image_reference }}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "{{ app_port }}:{{ internal_port }}"
    restart: always
